[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "T2DFitTailor"]
	path = T2DFitTailor
	url = https://github.com/cran/T2DFitTailor
